.toolbar {
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 400;
}


@media screen and (min-width: 450px) {
  p {
      font-size: small;
      margin-left: 38%;
  }
}

@media screen and (max-width: 449px) {
  p {
      font-size: small;
      margin-left: 10%;
  }

}


@media screen and (min-width: 1200px) {
  .toolbar {
    top: 91%;
  }
}

@media screen and (max-width: 449px) {
  p {
      font-size: small;
      margin-left: 10%;
  }

}